// Variables
@import 'partials/_colors'
@import 'partials/_fonts'


// Placeholders
%flex-spaced-between
  display: flex
  justify-content: space-between

%flex-centered
  display: flex
  justify-content: center

%flex-fully-centered
  @extend %flex-centered
  align-items: center

%flex-column-layout
  display: flex
  flex-direction: column

// Base
@import 'base/_base'
@import 'base/_typography'

// Partials
@import 'partials/_buttons'
@import 'partials/_flexbox-nav'
@import 'partials/_timer'
@import 'partials/_progress'
@import 'partials/_ico-info'

// Layout
@import 'layout/_header'
@import 'layout/_footer'
@import 'layout/_sidebar'
