extends base/new-base

block vars
  -var pageTitle = 'Affiliate & Bounty';
  -var isAuthorised = true;
  
  -var isDashboard = false;
  -var isAffiliate = true;
  -var isProfile = false

block content
  .row
    //- Main content
    .col-md-8.col-sm-12.col-xs-12
      .programs
        ul.nav.nav-tabs
          li(role='presentation').active
            a.btn.btn-default(href='#affiliate', role='tab', aria-controls='affiliate', data-toggle='tab') Affiliate program
          li(role='presentation')
            a.btn.btn-default(href='#bounty', role='tab', aria-controls='bounty', data-toggle='tab') Bounty program

        .tab-content.document
          #affiliate.tab-pane(role='tabpanel').active
            include ../documents/en-us/affiliate-tc-v1.html
          
          #bounty.tab-pane(role='tabpanel')
            include ../documents/en-us/bounty-program.html          
          

    //- Sidebar
    .col-md-4.hidden-sm.hidden-xs
      aside.pull-right
        include partials/buy-tokens
        include partials/referrals