block vars
  - var pageTitle = 'Unilot landing prototype. (For development purposes only!)'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Unilot | #{pageTitle}

    link(rel='stylesheet', type='text/css', href='/assets/css/main.css')

    <!--[if lt IE 9]>
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='http://webnextbd.net/demo/js/respond.min.js')
    <![endif]-->

    <!--[if lt IE 11]>
    link(rel='stylesheet', type='text/css', href='http://webnextbd.net/demo/css/ie.css')
    <![endif]-->
  body
    #new
      header
        .container
          .row
            nav.flexbox-nav.col-md-12
              ul
                li.active
                  a(href='#') Dashboard #[span.sr-only (current)]
                li
                  a(href='#') Affiliate &amp; Bounty programs
                li
                  a(href='#') FAQ
                li.nav-brand
                  a(href='#')
                    img(src='assets/img/unilot-logo-header.png', alt='Unilot Investor Account')
                li
                  a(href='#') Unilot ICO
                li
                  a(href='#') Profile
                li
                  //- button.btn.btn-default.nav-btn(type='button') #[span.action Sign in] or #[span.action Sign up]
                  a.btn.btn-default.nav-btn.nav-btn-icon-right(role='button' href='#')
                    span.action Sign out
                    span.glyphicon.glyphicon-log-out
          .row
            .col-md-8
              h3 Welcome, Alex!
              p Thank you for participation in our project. This area is your personal account of Unilot token sale.
            .col-md-4
              p.lead.text-right 
                a(href='#') #[span.question]
                | My Tokens: 
                span.tokens #[strong.text-nowrap 0.0000] UNIT
                //- span.tokens #[strong.text-nowrap 150 753.0000] UNIT
              p.text-right Referral Tokens: #[strong.text-nowrap 0.0000] UNIT
              p.text-right
                small
                  a(href='#') Get more Tokens for free

      .container.grow
        .row
          main.col-md-8 Main content
          aside.col-md-4.pull-right
            a.btn.btn-primary.btn-block.btn-lg#buy-tokens.btn-bonus(href='#' role='button') Buy Tokens
            section
              h3 Calculator
              form
                .form-group
                  label(for='unit-amount') # of UNIT tokens
                  .input-group
                    input(type='number' placeholder='1000' value='1000').form-control.input-primary#unit-amount
                    span.input-group-btn
                      button.btn.btn-increment.btn-up(onclick='changeUnitValue(1); return false;')
                        span.glyphicon.glyphicon-chevron-up
                      button.btn.btn-increment.btn-down(onclick='changeUnitValue(-1); return false;')
                        span.glyphicon.glyphicon-chevron-down
                .form-group
                  label(for='eth-amount') Amount of ETH
                  .input-group
                    input(type='number' value='0.079' readonly).form-control#eth-amount 
                    span.input-group-addon ETH
                .form-group
                  .horizontal
                    label(for='purchase-amount') You'll receive:
                    output#purchase-amount 1 000 000 #[span UNIT]
                  .horizontal
                    label(for='bonus-amount') 40% bonus:
                    output#bonus-amount 400 000 #[span UNIT]
                .form-group.output.text-center
                  label(for='total-amount') Total:
                  output#total-amount 1 400 000 #[span UNIT]
                hr
                .form-group.output.text-center
                  label(for='usd-amount') Approximate $US amount:
                  output#usd-amount #[span $]9.52
      
      footer
        .container
          .row
            .col-md-6.col-md-offset-3
              .flexbox-nav.social-nav
                ul
                  li
                    a(href='#')
                      img(src='assets/img/unilot-logo.png', alt='Unilot')
                  li
                    a.btn.btn-default.social-btn(href='#' title='See our code on GitHub')
                      span.icon.icon-github
                  li
                    a.btn.btn-default.social-btn(href='#' title='Join our Telegram group')
                      span.icon.icon-telegram
                  li
                    a.btn.btn-default.social-btn(href='#' title='Visit our subreddit')
                      span.icon.icon-reddit
                  li
                    a.btn.btn-default.social-btn(href='#' title='Follow us on Twitter')
                      span.icon.icon-twitter
                  li
                    a.btn.btn-default.social-btn(href='#' title='Follow us on Facebook')
                      span.icon.icon-facebook

    script(type='application/javascript', src='/assets/js/main.js')