extends base/new-base

block vars
  -var pageTitle = 'Sign in or Sign up';
  -var isAuthorised = false;

block content
  .row

    //- Main content
    .col-md-8.col-sm-12.col-xs-12
      ul.nav.nav-tabs
        li.active(role='presentation')
          a(href='#auth-sign-up', role='tab', aria-controls='auth-sign-up', data-toggle='tab') Sign Up
        li(role='presentation')
          a(href='#auth-sign-in', role='tab', aria-controls='auth-sign-in', data-toggle='tab') Sign In
        li(role='presentation')
          a(href='#', role='tab', data-toggle='modal', data-target='#networkError' style='font-family: "Roboto Light"') Trigger network error
      
      .tab-content
        #auth-sign-up.tab-pane.active.js-has-overlay(role='tabpanel')
          include lib/overlay-loader          
          form.js-generic-form
            .row
              .col-md-12
                .alert.hidden.js-form-alert.text-center
                .row.no-padding
                  .col-md-6
                    .form-group.label-floating
                      label.control-label(for='signUpCountry') Country #[span.required]
                      span.caret
                      select#signUpCountry.form-control(required, name='country')
                        option(selected disabled)
                        option Albania
                        option Algeria
                        option Andorra
                      .help-block.with-errors
                  .col-md-6
                    .alert.alert-warning(role='alert')
                      img(src='/assets/img/attention.png').pull-left
                      p We're unable to sell Unilots to Canada, China, Singapore and USA residents
            
            .row
              .col-md-6
                .form-group.label-floating
                  label.control-label(for='signUpEmail') Email address #[span.required]
                  input#signUpEmail.form-control(type='email', required, name='email')
                  .help-block.with-errors
                  .help-block You will be notified when your tokens are available. We won't disclose your email to third parties.
            
            .row
              .col-md-12
                .row.no-padding
                  .col-md-6
                    .form-group.label-floating
                      label.control-label(for='signUpFullName') Full name #[span.required]
                      input#signUpFullName.form-control(type='text', required, name='fullname')
                      .help-block.with-errors
                  .col-md-6
                    .form-group.label-floating
                      label.control-label(for='signUpCompany') Company name
                      input#signUpCompany.form-control(type='text', name='company')
                      .help-block For incorporated buyers only, otherwise leave empty
                      .help-block.with-errors

            .row
              .col-md-6
                .row.no-padding
                  .col-md-4.col-sm-4.col-xs-4
                    .form-group
                      span.caret
                      select#signUpPhoneCode.form-control(name='phonecode')
                        option +33
                        option +77
                        option +998
                  .col-md-8.col-sm-8.col-xs-8
                    .form-group.label-floating
                      label.control-label(for='signUpPhone') Phone number #[span.required]
                      input#signUpPhone.form-control(type='tel', required, name='phone')
                      .help-block.with-errors
            .row
              .col-md-6
                .form-group
                  .checkbox
                    label
                      input(type='checkbox')
                      span.checkbox-material
                      | I accept these #[a(href='#') Terms &amp; Conditions]
              .col-md-6
                include lib/overlay-loader
                button.btn.btn-primary.btn-lg.btn-auth.pull-right(role='submit') Sign me up
                  span.glyphicon.glyphicon-menu-right

        #auth-sign-in.tab-pane.js-has-overlay(role='tabpanel')
          include lib/overlay-loader
          form.js-generic-form
            .row
              .col-md-6
                .alert.hidden.js-form-alert.text-center
                
                .form-group.label-floating
                  label.control-label(for='signInEmail') Email
                  input#signInEmail.form-control(type='email', required, name='email')
                  .help-block.with-errors
                
                .form-group.label-floating
                  label.control-label(for='signInPassword') Password
                  input#signInPassword.form-control(type='password', required, name='password')
                  .help-block.pull-left.with-errors
                  .help-block.pull-right.forgot-password
                    a(href='#' role='button' data-toggle='modal', data-target='#forgotPassword') Forgot password?

                .form-group
                  .checkbox
                    label
                      input(type='checkbox')
                      span.checkbox-material
                      | Remember me
                
            .row
              include lib/overlay-loader
              .col-md-6
                button.btn.btn-primary.btn-lg.btn-auth(role='submit') Sign in
                  span.glyphicon.glyphicon-menu-right

    //- Sidebar
    .col-md-4.hidden-sm.hidden-xs
      aside.pull-right
        section
          include partials/timer