footer
  .container
    .row
      .col-md-6.col-md-offset-3
        .flexbox-nav.social-nav
          ul
            li
              a(href='#')
                img(src='assets/img/unilot-logo.png', alt='Unilot')
            li
              a.btn.btn-default.social-btn(href='#' title='See our code on GitHub')
                span.icon.icon-github
            li
              a.btn.btn-default.social-btn(href='#' title='Join our Telegram group')
                span.icon.icon-telegram
            li
              a.btn.btn-default.social-btn(href='#' title='Visit our subreddit')
                span.icon.icon-reddit
            li
              a.btn.btn-default.social-btn(href='#' title='Follow us on Twitter')
                span.icon.icon-twitter
            li
              a.btn.btn-default.social-btn(href='#' title='Follow us on Facebook')
                span.icon.icon-facebook