footer
  ul.nav.nav-pills.nav-social
    li.footer-logo
      a(href='#')
        img(src='assets/img/unilot-logo.png', alt='Unilot')
    li
      a.btn.btn-social(href='https://github.com/unilot/unilot.io' target='_blank' title='See our code on GitHub')
        span.icon.icon-github
    li
      a.btn.btn-social(href='https://t.me/Uniloteng' target='_blank' title='Join our Telegram group')
        span.icon.icon-telegram
    li
      a.btn.btn-social(href='https://www.reddit.com/r/Unilot/' target='_blank' title='Visit our subreddit')
        span.icon.icon-reddit
    li
      a.btn.btn-social(href='https://twitter.com/unilot_platform' target='_blank' title='Follow us on Twitter')
        span.icon.icon-twitter
    li
      a.btn.btn-social(href='https://www.facebook.com/unilot.io/' target='_blank' title='Follow us on Facebook')
        span.icon.icon-facebook