footer
  ul.nav.nav-pills.nav-social
    li.footer-logo
      a(href='#')
        img(src='assets/img/unilot-logo.png', alt='Unilot')
    li
      a.btn.btn-social(href='#' title='See our code on GitHub')
        span.icon.icon-github
    li
      a.btn.btn-social(href='#' title='Join our Telegram group')
        span.icon.icon-telegram
    li
      a.btn.btn-social(href='#' title='Visit our subreddit')
        span.icon.icon-reddit
    li
      a.btn.btn-social(href='#' title='Follow us on Twitter')
        span.icon.icon-twitter
    li
      a.btn.btn-social(href='#' title='Follow us on Facebook')
        span.icon.icon-facebook