.info
  .info-block
    span.info-label Current bonus
    span.info-value 40%
  .info-block
    span.info-label Min commitment
    span.info-value 0.5 ETH
  .info-block
    span.info-label Max cap
    span.info-value 1 975 ETH