nav.navbar.navbar-unilot(role='navigation')
  ul#navbar.nav.navbar-nav
    //- items to the left
    li.item-toggle
      a(href='#').toggle-menu
        span.sr-only Toggle navigation
        span.glyphicon.glyphicon-menu-hamburger

    if isAuthorised
      li.item-collapsible(class=isDashboard ? 'active' : '')
        a(href='new.html') Dashboard #[span.sr-only (current)]
    
      li.item-collapsible(class=isAffiliate ? 'active' : '')
        a(href='affiliate.html') Affiliate &amp; Bounty programs
    else
      li.item-collapsible
        a(href='https://unilot.io/en-us/' target='_blank') Unilot ICO

    li.item-collapsible
      a(href='https://unilot.io/en-us/faq.html' target='_blank') FAQ
    
    //- should be in center
    li.item-brand
      a(href='#')
        img.logo(src='assets/img/unilot-logo-header.png', alt='Unilot Investor Account')
    
    
    //- items to the right
    if isAuthorised
      li.item-right.item-collapsible
        a(href='https://unilot.io/en-us/' target='_blank') Unilot ICO
      
      li.item-right.item-collapsible-xs(class=isProfile ? 'active' : '')
        a(href='profile.html') Profile
    
    li.item-right.item-btn.item-lang
      a#languageSwitcher.btn.btn-default.nav-btn.btn-icon(role='button', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.flag 
          img(src='assets/img/flags/uk.svg')
        span.btn-action ENG
        span.caret

      ul.dropdown-menu(aria-labelledby='languageSwitcher')
        li.active
          a(nohref)
            span.flag
              img(src='assets/img/flags/uk.svg')
            span English
        li
          a(href='#')
            span.flag
              img(src='assets/img/flags/ru.svg')
            span Russian


    li.item-right.item-btn
      if isAuthorised
        a.btn.btn-default.nav-btn.btn-icon(role='button' href='new-auth.html')
            span.btn-action Sign out
            span.glyphicon.glyphicon-log-out
      else
        a.btn.btn-default.nav-btn(role='button' href='new-auth.html') #[span.btn-action Sign in] or #[span.btn-action Sign up]