ul.nav
  li.active
    a(href='new.html') Dashboard #[span.sr-only (current)]
  
  li
    a(href='#') Affiliate &amp; Bounty programs
  
  li
    a(href='#') FAQ

  li
    a(href='#') Unilot ICO
  
  li
    a(href='#') Profile