ul.nav
  if isAuthorised
    li.active
      a(href='new.html') Dashboard #[span.sr-only (current)]
  
    li
      a(href='#') Affiliate &amp; Bounty programs
  
  li
    a(href='#') FAQ

  li
    a(href='#') Unilot ICO
  
  if isAuthorised
    li
      a(href='#') Profile