h3 My Wallet
form
  .form-group
    .input-group
      input#wallet.form-control(type='text', value='0x378356e2391cbaccb1cb11d9f7b1fe6b244819f1', readonly)
      span.input-group-addon
        a(href='#').text-uppercase Copy address