#buyUnitTokens.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-success.modal-lg(role='document')
    .modal-content.no-padding
      .modal-header.img-horizontal.bordered
        img.modal-title-img.img-lock(src='assets/img/lock.png')
        h4.modal-title Buy UNIT Tokens
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.close-icon(aria-hidden='true')
      
      .modal-body
        .row.no-padding
          .col-md-8.col-sm-12
            .alert.alert-flex.no-padding(role='alert')
              img(src='/assets/img/attention.png').pull-left
              p Be sure that you read all the information about Unilot project and token sale carefully
            
            .alert.alert-warning(role='alert')
              p
                strong Contribution process:
              ol
                li Copy the Unilot wallet address down below.
                li Go to your wallet application (see example below)
                  ul
                    li MyEtherWallet
                    li Metamask browser extension
                li Make transfer to the copied wallet address, input the amount you want to invest and set:
              p #[strong Gas Limit: 210 000], recommended #[strong Gas Price is 30 Gwei].
              p After the transaction is finished you will automatically get your tokens and can check the amount at your personal account. 
            
            .alert.alert-flex.no-padding(role='alert')
              img(src='/assets/img/attention.png').pull-left
              p Please do not send anything other than ETH to the Unilot smart contract and do not send ETH from an Exchange.
            
            .row.no-padding
              .qr-container.col-md-4.col-sm-4.col-xs-4
                img.qr(src='/assets/img/qr-sample.png')

              .contract-number-container.col-md-8.col-sm-8.col-xs-8
                form.contract-number
                  .form-group
                    label.control-label.text-uppercase(for='contractNumber') Contract number
                    input#contractNumber.form-control(type='text', readonly, name='contract-number', value='0x378356e2391cBaccB1cB11d9F7B1fe6B244819f1')
                    button#copyContractNumber.btn.btn-lg.btn-inverse.btn-icon
                      span.icon.icon-copy
                      span Copy contract number


          .col-md-4.col-sm-12
            include ../calculator