#forgotPassword.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        img.modal-title-img(src='assets/img/password-recover.png')
        h4.modal-title Password recover
      
      .modal-body
        form
          .form-group.label-floating
            label.control-label(for='recoverEmail') Enter your email
            input#recoverEmail.form-control(type='email', required, name='email')
            .help-block.with-errors
          button.btn.btn-primary.btn-lg.btn-auth.center-block(role='submit') Recover

      .modal-footer
        button.close(type='button', data-dismiss='modal', aria-label='Close')
            span Close 
            span.close-icon(aria-hidden='true')