#networkError.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-error(role='document')
    .modal-content
      .modal-header
        img.modal-title-img.center-block(src='assets/img/sending-is-failed.png')
      
      .modal-body
        h4.text-center Sending is failed
          br
          small Check your network connection
        button.btn.btn-primary.btn-lg.center-block(role='button') Try again