.block-overlay.hidden
  .overlay-wrapper
    .row.overlay-centered.full-width
      .col-xs-8.col-xs-offset-2
        .overlay-center.progress
          .progress-bar.progress-bar-striped.active.full-width
