.text-2x {
    font-size: 2em;
}

.text-1-5x {
    font-size: 1.5em;
}

.text-0-85x {
    font-size: 0.85em;
}

.js-value-down, .js-value-up {
    cursor: pointer;
}

.block-centered {
    float: none;
    margin: 0 auto;
}

.block-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-centered {
    position: absolute;
    top: 50%;
}

.full-width {
    width:100%;
}

.nav > li > form > a {
    padding: 15px 15px;
    display: block;
}

.nav > li > form > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.dropdown-menu > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > form > a,
.dropdown-menu > .active > form > a:hover,
.dropdown-menu > .active > form > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > form > a,
.dropdown-menu > .disabled > form > a:hover,
.dropdown-menu > .disabled > form > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > form > a:hover,
.dropdown-menu > .disabled > form > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#termsAndConditions .terms-content-block {
    position: relative;
    height: 30em;
    overflow: auto;
}

.calculator-exchange-icon-container {
    padding-top: 0.9em;
}

/* Added by Urist McDwarf */
.calc-summary > p:nth-child(even) {
    margin-bottom: 1.5em;
}

.calc-summary > p:last-child {
    margin-bottom: 0;
}

@media (min-width: 500px) {
    .calc-summary {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: [row1] 50% [row2] 50%;
    }
    
    .calc-summary:before {
        display: none;
    }
    
    .calc-summary > p:nth-child(odd) {
        grid-row: row1;
    }
    
    .calc-summary > p:nth-child(even) {
        grid-row: row2;
        margin-bottom: 0;
    }
}

/* For non-resizable textareas */
.no-resize {
    resize: none;
}

/* Wizard-related styles */
.tab-pane {
    margin-top: 1em;
    margin-bottom: 3em;
}

.row-controls > * {
    margin-top: 1em;
}

.terms {
    white-space: pre-wrap;
    max-height: 250px;
    font-size: 1.2em;
}

#rootwizard .active .visible-xs-block:before {
    content: 'Step ';
}

/*Document and counters*/

.document .row
{
    counter-reset: section;
}
.document .row h4.numbered::before
{
    content: counter(section) '. ';
    counter-increment: section;
}

ol.numbered
{
    counter-reset: section;
}

ol,
ol.numbered,
ol#wp-toc-continue
{
    list-style-type: none;
}

ol.numbered > li::before,
ol#wp-toc-continue > li::before
{
    font-weight: bolder;

    content: counter(section) '. ';
    counter-increment: section;
}

ol.nested
{
    counter-reset: subsection;
}
ol.nested > li::before
{
    font-weight: bolder;

    content: counter(section) '.' counter(subsection) '. ';
    counter-increment: subsection;
}

ol.latin
{
    counter-reset: latin;
}
ol.latin li::before
{
    content: counter(latin, lower-alpha) '. ';
    counter-increment: latin;
}

ol.roman
{
    counter-reset: roman;
}
ol.roman li::before
{
    content: counter(roman, lower-roman) '. ';
    counter-increment: roman;
}

ul.bulleted
{
    padding-left: 2em;

    list-style-type: disc;
}

ul.bulleted > li > ul.bulleted
{
    list-style-type: circle;
}

ol.numbered li,
ol.latin li,
ol.roman li,
ol.nested li,
ul.bulleted li,
ol#wp-toc-continue li
{
    font-size: 20px;
    font-weight: 300;
    line-height: 2em;

    margin-top: 0;
    margin-bottom: .5em;
}
