// Base
$base-font-size: 14px
$wb-border-radius: 15px

// Breakpoints
$max-width-sm: 991px
$tall-header-max-width: 767px

// Timer
$timer-gap-width: 2rem

// Progress bar
$progress-bar-height: 35px
$progress-bar-margin: 20px
$progress-bar-offset: 10px
$progress-bar-radius: 22.5px
$progress-small-height: 12px
$progress-small-offset: 4px

// ICO info
$info-block-width: 190px
$info-block-height: 65px
$info-block-radius: 10px
$info-block-gap: 20px

// Buttons
$buy-tokens-font-size: 20px
$btn-auth-width: 200px
$btn-lg-height: 50px

// Header
$header-height: 170px
$header-height-tall: 300px
$nav-height: 75px
$nav-btn-height: 40px
$logo-height: 44px
$question-icon-size: 20px
$navbar-collapse-width: 300px

// Sidebar
$aside-width: 300px
$sidebar-margin-y: 30px

// Footer
$footer-height: 130px
$footer-nav-width: 500px
$footer-padding-y: 40px
$social-icon-size: 30px
