// Variables
$header-height: 170px
$nav-height: 75px
$nav-text-color: #777
$nav-btn-height: 40px
$logo-height: 44px
$nav-btn-hover-color: rgba(255, 255, 255, .02)
$question-icon-size: 20px

// Styles
header
  background-color: $gray-darker
  color: $gray-light
  height: $header-height
  transition: .5s all

  @media (max-width: 767px)
    height: 300px


  .container
    height: 100%
    @extend %flex-column-layout
    justify-content: flex-start

  .row
    &:last-child
      flex-grow: 1
      padding-bottom: .5rem
      align-items: flex-end
      display: flex

      @media (max-width: 767px)
        align-items: center

  // 1st row - navigation
  .flexbox-nav
    height: $nav-height

    ul
      font-family: $gotham
      height: $nav-height

    li
      line-height: $nav-height
      margin: 0 1rem

    a
      color: $nav-text-color

    .active
      a
        color: $gold

    @media (max-width: 992px)
      .nav-profile
        margin-left: auto

    @media (min-width: 992px)
      .nav-brand
        margin: 0 auto

    .logo
      height: $logo-height

  .nav-btn
    border-color: $nav-text-color
    color: $nav-text-color
    font-size: .86rem
    height: $nav-btn-height
    line-height: $nav-btn-height
    padding-bottom: 0
    padding-top: 0

    &:hover
      background-color: $nav-btn-hover-color
      color: $nav-text-color

    .btn-action
      color: $white

    .glyphicon
      margin-left: .5rem

  .btn-icon
    padding-left: 1.5rem
    padding-right: 1rem

  // 2nd row
  h3,
  p
    margin: 0

  h3
    color: $white

  .tokens-info
    @media (max-width: 767px)
      p
        text-align: center


    p
      font-family: $roboto-light
      font-size: 1.14rem

    strong
      font-family: $roboto
      font-weight: normal

    small
      font-family: $roboto
      font-size: .86rem

    .lead
      color: $white
      font-size: 1.43rem
      margin-bottom: 10px

      .tokens
        color: $gold

    .tokens-amount
      white-space: nowrap

    .tokens-question
      &::before
        background-color: $blood-orange
        border-radius: 100%
        color: $white
        content: '?'
        display: inline-block
        font-family: $roboto-medium
        font-size: .9rem
        height: $question-icon-size
        line-height: $question-icon-size + 1px
        margin-right: 9px
        position: relative
        text-align: center
        top: -4px
        width: $question-icon-size
