section.beta-thanks.text-center
  h3 #[span.text-nowrap Thank you] #[span.text-nowrap for participation!]
  .alert.alert-success Application testing will start on #[span.text-nowrap 5th Feb], we will notify you via email