.flexbox-nav
  ul
    @extend %flex-spaced-between
    list-style-type: none
    padding: 0

  li
    @extend %flex-column-layout
    justify-content: center

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    a
      white-space: nowrap
