// Slideout menu
.slideout-menu
  background-color: $navbar-collapse-bg

  .nav
    a
      color: $gray
      font-family: $gotham
      line-height: $nav-height / 2

      &:hover
        background-color: darken($navbar-collapse-bg, 10%)

    .active
      a
        color: $gold

// Navbar
.navbar-unilot
  width: 100%
  height: $nav-height
  margin: 0
  border: 0
  background-color: transparent

  // decrease rule specificity by placing them outside of their parent (.navbar-nav)
  .item-toggle
    display: none

  .item-brand
    margin: 0 auto
  // end of rules with decreased specificity

  .navbar-nav
    display: flex
    justify-content: space-between
    width: 100%
    height: $nav-height

    li
      margin: 0 1rem

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

      a
        padding: 0
        color: $nav-text-color
        font-family: $gotham
        line-height: $nav-height

    .item-toggle
      a
        padding: 0 1rem
        color: $white
        font-size: 1.5rem

    .item-brand
      margin: 0 auto

      a
        display: flex
        align-items: center
        height: $nav-height

    .item-right
      text-align: right

    .item-btn
      display: flex
      flex-grow: 0
      align-items: center
      height: $nav-height

      a
        padding: 0 1rem
        line-height: $nav-btn-height

    .active,
    .active:hover
      a
        background-color: transparent
        color: $gold

@media (max-width: $max-width-sm)
  .navbar-unilot
    .navbar-nav
      margin: 0

      .item-toggle
        display: inline-block
        position: relative
        z-index: 3

      // increase rule specificity by adding 'li' to its selector
      li.item-brand
        margin-right: auto
        margin-left: inherit

      .item-btn
        padding-right: 1rem

      .item-collapsible
        display: none

@media (max-width: 450px)
  .navbar-nav
    .item-collapsible-xs
      display: none
