.navbar-unilot
  height: $nav-height
  border: 0
  background-color: transparent

  // decrease rule specificity by placing them outside of their parent (.navbar-nav)
  .item-toggle
    display: none

  .item-brand
    margin: 0 auto
  // end of rules with decreased specificity

  .navbar-nav
    display: flex
    justify-content: space-between
    width: 100%
    height: $nav-height

    li
      flex-grow: 1
      margin: 0 1rem

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

      a
        padding: 0
        font-family: $gotham
        line-height: $nav-height

    .item-toggle
      flex-grow: 0

      a
        padding: 0 1rem
        color: $white
        font-size: 1.5rem

    .item-brand
      z-index: 3

      a
        display: flex
        align-items: center
        height: $nav-height

    .item-right
      text-align: right

    .item-btn
      display: flex
      flex-grow: 0
      align-items: center
      height: $nav-height

      a
        padding: 0 1rem
        line-height: $nav-btn-height

    .active,
    .active:hover
      a
        background-color: transparent
        color: $gold

  // override default Bootstrap behaviour, the hard way
  .navbar-nav.collapse.in,
  .navbar-nav.collapsing
    height: $nav-height !important
    transition: none

@media (max-width: $max-width-sm)
  .navbar-nav
    margin: 0

    .item-toggle
      display: inline-block
      position: relative
      z-index: 3

    // increase rule specificity by adding 'li' to its selector
    li.item-brand
      margin-right: auto
      margin-left: inherit

    .item-btn
      padding-right: 1rem

    // emulate sidebar
    &::before
      position: fixed
      top: 0
      left: -100%
      width: $navbar-collapse-width
      height: 100vh
      transition: left .5s
      background-color: $navbar-collapse-bg
      content: ''
      z-index: 1

    .item-collapsible
      position: fixed
      left: -100%
      width: $navbar-collapse-width
      padding-left: 1rem
      transition: left .5s
      z-index: 2

      &:hover
        background-color: darken($navbar-collapse-bg, 5%)

      a
        padding-left: 1rem

    .collapsible-1
      top: $nav-height

    .collapsible-2
      top: $nav-height * 2

    .collapsible-3
      top: $nav-height * 3

    .collapsible-4
      top: $nav-height * 4

  .navbar-nav.collapse.in
    &::before
      left: 0
      transition: left .5s

    .item-collapsible
      left: -1rem
      transition: left .5s
      text-align: left

  .navbar-nav.collapsing
    .item-collapsible
      text-align: left

@media (max-width: 450px)
  .navbar-nav
    .item-collapsible-xs
      position: fixed
      left: -100%
      width: $navbar-collapse-width
      padding-left: 1rem
      transition: left .5s
      text-align: left
      z-index: 2

      &:hover
        background-color: darken($navbar-collapse-bg, 5%)

    .collapsible-5
      top: $nav-height * 5

  .navbar-nav.collapse.in
    .item-collapsible-xs
      left: -1rem
      transition: left .5s
      text-align: left

  .navbar-nav.collapsing
    .item-collapsible-xs
      text-align: left


// Older nav, should be removed
.flexbox-nav
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    z-index: 2  // IE fix for .nav-brand, .nav-toggle


  ul
    @extend %flex-spaced-between
    padding: 0
    list-style-type: none

  li
    display: inline-block

    @media (min-width: 992px)
      display: flex
      flex-direction: column
      justify-content: center


    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    a
      white-space: nowrap

  .nav-toggle
    a
      color: $white
      font-size: 1.5rem

  .nav-brand,
  .nav-toggle
    z-index: 2

  .navbar-collapse
    position: absolute
    top: 0
    left: 0
    width: 270px
    padding: 80px 0 0
    border-top: 0
    background-color: $navbar-collapse-bg
    box-shadow: none
    z-index: 1

    @media (min-width: 992px)
      display: none !important


  .collapse
    display: none !important

    &.in
      display: block !important

  .side-nav
    flex-direction: column
    height: auto
    margin-bottom: 0

    li
      height: auto
      margin: 0
      line-height: 1

    a
      display: inline-block
      width: 100%
      padding: 0 1rem
      color: $white
      line-height: 50px

      &:hover
        background-color: darken($navbar-collapse-bg, 5%)
        color: $link-color
        text-decoration: none
